
@{
    ViewBag.Title = "Index";
}
<script>
    //-----обработ. переключ. AWS - Azure--------------------
    $(function () {
        var key = 1;
        var flag = true;
        $('input[name=switchOption]').click(function (e) {
            key *= -1;
            flag = key < 0 ? false : true;
            $(this).attr('checked', flag)
            if (flag == true) {
                $(this).val('Azur')
            }
            else {
                $(this).val('AWS');
            }
            $.ajax({
                url: "/AdminPanel/SwitchContainer",
                method: "GET",
                data: { nameContainer: $(this).val() },    //AWS - Azure
                success: function (data) {
                    alert("It's good!")
                },
                error: function (e, msg) {
                    alert(msg)
                }
            })
        })
    })
    //--------------- S.T.A.T.I.S.T.I.C. ---------------------------------
    $(function () {
        $('#link-statistics')
            .css({ "font-size": "24px", "margin-left": "10px", "margin-top": "40px" })
            .click(e => {
                e.preventDefault()
                $.get({
                    url: "/AdminPanel/Statistic",
                    success: function (data) {
                        alert(data)
                        $("img", "div.gallery").attr('src', '/Files/podarok.png')
                    },
                    error(xhr, msg) {
                        alert(msg)
                    }
                }).then(
                    $("img", "div.gallery").each(
                        (i, val) => {
                            setIconHover(i, val)    //mouseover..addParagraph
                        }),
                    $('a#repeat').removeClass("disabled"),  //актвир. обработч. клонир.
                    $('a#remove').removeClass("disabled"),  //тоже но удален.
                    imgClick(),//->ajaxImgClick()
                    repeatImg(),  //активир. клонир. изобр.+установ. data-num = numQuery
                    removeImg()//активир. удал. изобр.
                )
            })
    })
    //Коллекция сопоставлений  index - Tema
    const arrTems = ["Categories by gender", "Registration by year", "Product by area", "Statistic by all categories", "Products by age", "AVG Prices by category"];

    function setImgGraphic(item) {
        $(item).attr('src', '/Files/graphic.png');
        item.style.cursor = "pointer";
    }
    function setImgPodarok(item) {
        $(item).attr('src', '/Files/podarok.png');
        $(item).parent().children('p').remove()
    }
    //обраб. клика - добав. картинку, пронумер. картинки
    function repeatImg() {
        $('a#repeat').click((e) => {
            e.preventDefault()
            if ($('div.gallery img').length >= 6) {
                alert("Извините, в настоящий момент количество графиков ограничено!")
                return
            }
            var firstImg = $('div.gallery img').first();
            //console.log(firstImg)
            var clonImg = $(firstImg).clone();
            var lenOld = $('div.gallery img').length;

            $('div.gallery').append(clonImg)

            $("img", "div.gallery").each((i, val) => {
                //console.log("i: ", i)

                if (i >= lenOld) { //старые не трогать!
                    $(val).attr("data-num", i)
                    setIconHover(i, val)
                }
            })
            imgClick()  //переустанов.  обраб. клика
        })
    }
    //удалить послед. график
    function removeImg() {
        $('#remove').click((e) => {
            if ($('div.gallery img').length != 1) {
                $('div.gallery img').last().remove()
            }
            else alert("Error.!")
        })
    }
    function addParagraph(i, val) {
        $(val).parent().append('<p>' + arrTems[i] + '</p>')
    }

    function setIconHover(i, val) {
        $(val).mouseover((e) => {
            setImgGraphic(val);
            if (arguments[2] == null || arguments[2] == undefined)
                addParagraph(i, val);
        }).mouseout((e) => {
            setImgPodarok(val)
        })
    }
    var tempImgId = sessionStorage.getItem("tempImgId")
    function imgClick() {    //активир. клик по изобр.
        $('.gallery img').unbind("click")
            .click((e) => {
                ajaxAfterClickImg(e)
            })
    }
    function ajaxAfterClickImg(e) {
        var numQuery = $(e.target).attr("data-num");
        $.get({
            url: "/AdminPanel/BeginHandler?key=" + numQuery,
            success: function (obj) {
                if (obj.success == true) {
                    //console.log(obj.data)
                    //console.log(obj.data.arrData)
                    //console.log(obj.data.labels)
                    CreateGraphic(obj.data, numQuery);

                    $(e.target).unbind()    //на текущ. откл. все событ
                    addParagraph(parseInt(numQuery), e.target)
                    //console.log("temp: ",tempImgId)
                    //console.log("numQuery: ", numQuery)

                    if (numQuery != tempImgId) {//восстанов.  изобр+событ.
                        $('.gallery img').each((i, item) => {
                            if ($(item).attr("data-num") == tempImgId) {
                                setImgPodarok(item)
                                setIconHover(tempImgId, item)   //+addParagraph
                                imgClick()  //+addParagraph()
                            }
                        })
                    }
                    tempImgId = numQuery;
                    sessionStorage.setItem("tempImgId:", tempImgId)
                }
                else {
                    alert("Error handler data!");
                }
            },
            error(xhr, message) {
                alert(message)
            }
        })
    }
    //------------data.arrLabel - array obj---------------------------------------
    function getNamePropObj(obj) {
        arr = []
        for (item of obj) { //iterat array
            //console.log("item.obj: ", item)
            inner(item, arr);   //decompos. inner obj
        }
        return arr;
    }
    function inner(obj, arr) {
        for (key in obj) {
            //console.log("obj.key: ", obj[key]);
            //console.log("key: ", key)
            if (key != 'color') {
                arr.push(obj[key])
            }
            if (typeof (obj[key]) == "object") {
                getNamePropObj(obj[key])
                break;
            }
        }
        return arr;
    }

    function getLabels(dataLabels, numQuery) {
        console.log("dataLabes: ", dataLabels)       //['/Date(100500100500)/',..]
        switch (numQuery) {
            case 0: return dataLabels
                break
            case 1: return parseDate(dataLabels).get(); //['/Date(100500100500)/',..]
                break
                {
                    //case 2: return dataLabels;
                    //    break
                    //case 3: return dataLabels;
                    //    break

                    //case 4: return dataLabels;
                    //    break
                }
            default: return dataLabels;
        }
    }
    //теперь вызыв. только в getLabels()
    function parseDate(param) {
        nameLabel = $(param).map((i, val) => {
            //console.log("param: ", param)
            //console.log("parseDate val: ", val)            //['/Date(100500100500)/',..]
            var reg = /\d+/gi;
            res = val.match(reg)
            res = parseInt(res[0])   //=> 100500100500
            res = new Date(res)      //17 june 2018 17:00:00
            res = res.getFullYear()  //2018
            //console.log("parseDate res: ", res)
            return res;
        })
        return nameLabel;
    }

    function createDataSet(nameLabels, numQuery, ringQueue, arrData) {
        var set = []
        //console.log("namelabels: ", nameLabels) //['Men','Women', 'X']
        $(nameLabels).each((i, item) => {
            //console.log("i: ", i)
            var _data = Array.from($(arrData[i]).map(function () {
                return this.Count
            }))
            {
                //var _label = undefined;
                //switch (parseInt(numQuery)) {
                //    case 0: _label = item    // nameLabels[i]
                //        break;
                //    case 1: _label = item//parseDate(nameLabels)[i]
                //        break;
                //    case 2: _label = item
                //        break;
                //    case 3: _label = item
                //        break;
                //}
            }
            //console.log("label: ", _label)
            var obj = {
                label: item, //_label,
                backgroundColor: ringQueue.pop(),
                borderColor: 'rgb(255, 99, 132)',
                data: _data
            };
            set.push(obj);
        })
        return set;
    }
    //===================       CHART.JS         ===============================
    function CreateGraphic(data, numQuery) {
        $('div.sandbox').removeClass('hidden')
        //1)-----------массив ярлыков-легенд-------------------------
        console.log("arrLabes: ", data.arrLabel);              //[{year: "/Date(100500)"}, {color: "/Date.."}]

        var nameLabel = getNamePropObj(data.arrLabel);  //["/Date(100500)","/.."]
        //console.log("nameLabels: ", nameLabel)  //[0,1]
        //2)-----------------массив цветов-------------
        var arrColor = (data.arrLabel).map(function (i, val) {
            return i.color;
        })
        var ringQueue = new CircularQueue(arrColor.length); //набор цветов долж. быть тот же..
        ringQueue.addRange(arrColor);                               //..но с разным  порядком
        var _labels = getLabels(data.labels, parseInt(numQuery))
        //console.log("labels: ", _labels)
        var dataSets = createDataSet(nameLabel, numQuery, ringQueue, data.arrData);

        //---------------------chart.js----------------------------
        var ctx = document.getElementById('myChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            //отрис.  граф. для наборов из 3 групп
            data: {               //[men, women, X]  //[2017, 2018, 2019] //[Nur-Sultan, Almaty, Pavlodar]
                labels: _labels,
                datasets: dataSets
            },
            options: {}
        });
    }
</script>
<h2>Administrator Panel</h2>

<div class="jumbotron">
    <div style="display:flex">
        <div class="list-group-item col-lg-6" id="switch-blobcontainer" style="width:300px">
            AWS container
            <div class="material-switch pull-right">
                <input id="switchOptionContainer" name="switchOption" type="checkbox" checked="checked" />
                <label for="switchOptionContainer" class="label-default"></label>
                Azure container
            </div>
        </div>
        <div class="col-lg-6">
            @Html.ActionLink("Подготовить статистику", "Index", "AdminPanel", null, new { id = "link-statistics" })
        </div>
    </div>

    <div style="display:flex; margin:20px">
        <div style="margin:20px">
            <a class="btn btn-success disabled" href="#" id="repeat">
                <i class="fa fa-flag-o fa-lg"></i> Еще
            </a>
        </div>
        <div style="margin:20px">
            <a class="btn btn-danger disabled" href="#" id="remove">
                <i class="fa fa-trash fa-lg"></i> Удалить
            </a>
        </div>
    </div>

    <div class="gallery" style="display:flex; margin:30px; flex-wrap:wrap">
        <img src="~/Files/no_image.png" style="width:30%; margin: 30px 10px" data-num="0" />
        <img src="~/Files/no_image.png" style="width:30%; margin: 30px 10px" data-num="1" />
    </div>
</div>

<div class="jumbotron alert-info hidden sandbox">
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.js"></script>
<script src="~/Scripts/MyShareScripts/CircularQueue.js"></script>