@{
    ViewBag.Title = "Chat";
    if (ViewBag.User != null) {
        <div class="FullName">@ViewBag.User.FullName</div>
    }
}
<h2>Чат-комната</h2>
<div class="main container-fluid">
    <div id="chatBody" class="jumbotron col-md-8">
        <div id="header"></div>
        <div id="inputForm" class="input-group-prepend">
            <input type="text" style="width:90%; margin-bottom:15px" id="message" />
            <input type="button" id="sendmessage" value="SMS в общий чат" class="btn-primary" />
            <input type="button" id="sendAuthorMessage" value="SMS отправителю" class="btn-info" />
        </div>

        <div id="chatroom"></div>
    </div>

    <div id="chatusers" class="col-md-4">
        <p><b>Все пользователи</b></p>
    </div>
    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" />
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        $(function () {
            // Ссылка на автоматически-сгенерированный прокси хаба
            var chat = $.connection.chatHub;
            var friendConnId = "";

            // Объявление функции, котор. хаб вызывает при получении сообщений
            chat.client.addMessage = function (name, message, accId) {
                $('#chatroom').prepend('<p><b>' + htmlEncode(name) + '</b>: ' + htmlEncode(message)
                    + '<span class ="hidden">' + accId + '</span></p>');
                console.log("addMessage accId: " + accId)
                localStorage.setItem("friendAccountId", accId);
            };

            chat.client.hello = function (name, message) {
                $('#chatroom').prepend('<p><b>' + "System" + '</b>: ' + htmlEncode(message) + '</p>');
            };

            // Функция, вызываемая при подключении нового пользователя
            //параметр userName получ. здесь (стр.75)
            chat.client.onConnected = function (id, userName, allUsers) {
                // установка в скрытых полях имени и id текущего пользователя
                $('#hdId').val(id);
                $('#username').val(userName);
                $('#header').html('<h3>Добро пожаловать, ' + userName + '</h3>');

                // Добавление всех пользователей в отображен.
                for (i = 0; i < allUsers.length; i++) {
                    AddUser(allUsers[i].ConnectionId, allUsers[i].FullName);
                }
                localStorage.setItem("allUsers", JSON.stringify(allUsers));
            }

            // Добавляем нового пользователя в отображ. в чат-комнаты
            chat.client.onNewUserConnected = function (connId, name) {
                AddUser(connId, name); //добав. в представл. (не в хранилищ)
            }

            // Удаляем пользователя из отображ. в чат-комнаты
            chat.client.onUserDisconnected = function (id, userName) {
                $('#' + id).remove();
            }

            //--------- Открываем соединение -------------
            $.connection.hub.start().done(function () {
                var connectID = $.connection.hub.id
                localStorage.setItem("connectID", connectID);

   //----------------SEND---------срабат. не только при старте------------------------------------
                $('#sendmessage').click(function () {
                    message = $('#message').val()
                    // Вызываем у хаба метод Send
                    try {
                        chat.server.send($('#username').val(), message, localStorage.getItem("accountId"));
                        $('#message').val('');
                        for (item in chat.server) {
                            console.log("server: " + item)
                        }                        
                    }
                    catch (e) { //разрыв соедин.
                        console.log('Ошибка ' + e.name + ":" + e.message + "\n" + e.stack)
                        
                        $.connection.hub.start().done(function () {
                            var connectID = $.connection.hub.id
                            var name = $('div.FullName').html();
                            chat.server.connect(name);
                            localStorage.setItem("connectID", connectID);
                            var myAccountId = localStorage.getItem("accountId"); //запись в Login.html
                            chat.server.send($('#username').val(), message, myAccountId);
                            $('#message').val('');
                        })
                    }
                    
                });
                //================== send auctionAuthor message =====================
                $('#sendAuthorMessage').click(function () {
                    if (connectID == undefined || connectID == NaN) {
                        connectID = localStorage.getItem("connectID");
                    }
                    //var friendName = $('#chatroom').children().first().children().first().html();
                    var allUsers = JSON.parse(localStorage.getItem("allUsers"))
                    $(allUsers).each(function (i, item) {
                        console.log("AccountId: " + item.AccountId)
                        console.log("friendAccountId: " + localStorage.getItem("friendAccountId"))
                        console.log("ConnectId: " + item.ConnectionId)
                        if (item.AccountId == localStorage.getItem("friendAccountId")) {
                            console.log("!!!!!!")
                            friendConnId = item.ConnectionId
                        }
                    })
                    console.log("friendConnId: ", friendConnId)

                    sendAjaxData(connectID, $('#message').val(), friendConnId)
                    $('#message').val('');
                });
                var name = $('div.FullName').html();
                if (name != undefined && name.length > 0) {
                    chat.server.connect(name);
                }
                else {
                    chat.server.connect("Noname");
                }
                sendAjaxData(connectID, $('#message').val(), friendConnId)
            })
              //-----------------конец ф-ции открытия -------------------

        });
        //auctionId, connectionId, message
        function sendAjaxData(connectID, message, friendConnId) {
            $.ajax({
                type: "GET",
                url: '/Home/ChatAsync',
                data: {
                    connectionId: connectID,
                    message: message,
                    friendConnectId: friendConnId
                    },
                success: function (data) {
                    //alert(data) //сейчас возвр. View т.е. html-файл
                },
                error: function (e, msg) {
                    alert("Error: ", msg)
                }
            })
        }
        //Добавление имени нового собеседника в  отображ. чат-комнаты
        function AddUser(id, name) {
            var userId = $('#hdId').val();
            if (userId != id) {
                $("#chatusers").append('<p id="' + id + '"><b>' + name + '</b></p>');
            }
        }
    </script>
}