@{
    ViewBag.Title = "Chat";
    if (ViewBag.User != null) {
        <div class="FullName">@ViewBag.User.FullName</div>
    }
}
<h2>Чат-комната</h2>
<div class="main container-fluid">
    <div id="chatBody"  class="jumbotron col-md-8">
        <div id="header"></div>
        <div id="inputForm" class="input-group-prepend">
            <input type="text" style="width:90%; margin-bottom:15px" id="message"/>
            <input type="button" id="sendmessage" value="SMS в общий чат" class="btn-primary"/>            
            <input type="button" id="sendAuthorMessage" value="SMS владельцу лота" class="btn-success"/>
        </div>
        @*<button class="btn btn-info exit">Выйти из чата</button>*@
        <div id="chatroom"></div>
    </div>
    <div id="chatusers" class="col-md-4">
        <p><b>Все пользователи</b></p>
    </div>
    <input id="hdId" type="hidden" />
    <input id="username" type="hidden" />
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
        $(function () {
            // Ссылка на автоматически-сгенерированный прокси хаба
            var chat = $.connection.chatHub;
            var users = [];
            var connectionId = "";
            var message = "";
            var auctionId = 0;
            // Объявление функции, котор. хаб вызывает при получении сообщений
            chat.client.addMessage = function (name, message) {
                $('#chatroom').prepend('<p><b>' + htmlEncode(name) + '</b>: ' + htmlEncode(message) + '</p>');
            };
            // Функция, вызываемая при подключении нового пользователя
            //параметр userName получ. здесь (стр.75)
            chat.client.onConnected = function (id, userName, allUsers) {
                // установка в скрытых полях имени и id текущего пользователя
                $('#hdId').val(id);
                $('#username').val(userName);
                $('#header').html('<h3>Добро пожаловать, ' + userName + '</h3>');

                // Добавление всех пользователей в отображен.
                for (i = 0; i < allUsers.length; i++) {
                    AddUser(allUsers[i].ConnectionId, allUsers[i].FullName);
                }
                users = allUsers
            }

            // Добавляем нового пользователя в отображ. в чат-комнаты
            chat.client.onNewUserConnected = function (id, name) {
                AddUser(id, name);
            }

            // Удаляем пользователя из отображ. в чат-комнаты
            chat.client.onUserDisconnected = function (id, userName) {
                $('#' + id).remove();
            }

            //--------- Открываем соединение -------------
            $.connection.hub.start().done(function () {               
                //срабат. не только при старте
                $('#sendmessage').click(function () {
                    message = $('#message').val()
                    // Вызываем у хаба метод Send
                    chat.server.send($('#username').val(), message);
                    $('#message').val('');
                });
      //================== send auctionAuthor message =====================
                $('#sendAuthorMessage').click(function () {
                   
                    sendAjaxData()
                    $('#message').val('');
                });
                var name = $('div.FullName').html();
                if (name != undefined && name.length > 0) {
                    chat.server.connect(name);
                }
                else {
                    chat.server.connect("Noname");
                }
                sendAjaxData()

                
            });
            //-----------------конец ф-ции открытия -------------------
        });
        //auctionId, connectionId, message
        function sendAjaxData() {
            $.ajax({
                type: "GET",
                url: '/Auctions/ChatAsync',
                data: { auctionId: localStorage.getItem("auctionId"), connectionId: $.connection.hub.id, message: $('#message').val() },
                beforeSend: function () {
                    console.log("connID: ", $.connection.hub.id)
                },
                success: function (data) {
                    //alert(data) //сейчас возвр. View т.е. html-файл
                },
                error: function (e, msg) {
                    alert("Error: ", msg)
                }
            })
        }
        //Добавление имени нового пользователя отображ. в чат-комнаты
        function AddUser(id, name) {
            var userId = $('#hdId').val();
            if (userId != id) {
                $("#chatusers").append('<p id="' + id + '"><b>' + name + '</b></p>');
            }
        }
    </script>
}