<div>
    Product save

    <form action="/save" method="post" enctype="multipart/form-data" class="form-inline">
        <input class="form-control" style="width: 300px" type="text" name="title" placeholder="title"
               value="title">
        <input class="form-control" style="width: 200px" type="number" name="price" placeholder="100.0"
               value="100">
        <input type="hidden" value="${_csrf.token}" name="_csrf">
        <div class="form-group col-sm-6" style="padding-right: 10px;">
            <label for="file"></label>
            <input type="file" name="file" id="file" class="form-control" data-filename-placement="inside"
                   title="Выбрать файл" />
        </div>
        <button type="submit" class="btn btn-info" style="width: 150px">Save</button>
    </form>
</div>
