@{
    ViewBag.Title = "Home Page";
}
<script>
     //-----установ. AWS - Azure--------------------
    $(function (e) {
        var myRoles = JSON.parse(sessionStorage.getItem("myRoles"))
        console.log(typeof (myRoles))
        console.log("roles: " + myRoles)
        if (myRoles.includes("admin")) {
            $('.row').hide()

            $('.jumbotron').children().each(function (i, item) {
                console.log(item)
                if (i != 3) {
                    console.log(item)
                    $(item).hide()
                }
                else {
                    $(item)
                        .removeClass('hidden')
                        .css('width', '300px')
                }
            })            
            $('.jumbotron').prepend('<h2>Admin Panel</h2>')
        }
    })
//-----обработ. переключ. AWS - Azure--------------------
    $(function () {
        var key = 1;
        var flag = true;
        $('input[name=switchOption]').click(function (e) {
            key *= -1;
            flag = key < 0 ? false : true;
            $(this).attr('checked', flag)
            if (flag == true) {
                $(this).val('Azur')
            }
            else {
                $(this).val('AWS');
            }
            $.ajax({
                url: "/Home/SwitchContainer",
                method: "GET",
                data: { nameContainer: $(this).val() },    //AWS - Azure
                success: function (data) {
                    alert("It's good!")
                },
                error: function (e, msg) {
                    alert(msg)
                }
            })
        })
    })
</script>

<div class="username">@ViewBag.UserName</div>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">
        Аукцион представляет собой онлайн-магазин с тем отличием, что продуктовая линейка каждый раз уникальна (то есть нет бесконечного склада магазина
        с товарами  одинаковой цены) и принадлежит каждому клиенту уникально. Соответственно процесс добавления товара синхронен созданию аукциона, открытия заказа (корзины)
        и элементов корзины.
    </p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <div class="list-group-item hidden" id="div-container">
        AWS container
        <div class="material-switch pull-right">
            <input id="switchOptionContainer" name="switchOption" type="checkbox" checked="checked" />
            <label for="switchOptionContainer" class="label-default"></label>
            Azure container
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Каждый клиент теоретически может иметь свою продуктовую линейку хранимую в БД (для этого нужно значительно изменить структуру БД)
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
